<div class="wrapper">
  <div class="toolbar">
    <img src="https://images.triumphmotorcycles.co.uk/media-library/images/misc-images/logo.svg?la=en-IN">
    <div class="tabs">
      <div class="tab">Motorcycles</div>
      <div class="tab">Parts & Accessories</div>
      <div class="tab">Clothing</div>
      <div class="tab">Service & Support</div>
      <div class="tab">About Triumph</div>
    </div>
    <img class="icon" src="https://img.icons8.com/ios-glyphs/22/000000/search.png">
  </div>

  <div class="bottombar">
    <div class="bike-wrapper">
    <img class="bike" src="./assets/triumph.png">
  </div>
  </div>
</div>